<h1>Menu à proposer</h1>
<form #menuForm="ngForm" (ngSubmit)="addMenu()">
    <div style="display: flex; flex-direction: column;">
        <label for="name">Titre</label>
        <input 
            type="text" 
            id="Titre" 
            name="titre" 
            [(ngModel)]="titre" 
            #Titre="ngModel" 
            required
            style="flex: 1; max-width: 300px;">
        <div *ngIf="Titre.invalid && Titre.touched" style="color: red; font-size: 12px;">
            <div *ngIf="Titre.errors?.['required']">Titre est obligatoire.</div>
        </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        <label for="Description">Description</label>
        <input 
            type="text" 
            id="Description" 
            name="description" 
            [(ngModel)]="description" 
            #Description="ngModel"
            required
            minlength="10"
            style="flex: 1; max-width: 300px;">
        <div *ngIf="Description.invalid && Description.touched" style="color: red; font-size: 12px;">
            <div *ngIf="Description.errors?.['required']">Description est obligatoire.</div>
            <div *ngIf="Description.errors?.['minlength']">Description doit contenir au moins 10 caractères.</div>
        </div>
    </div>
    <button 
        type="submit" 
        [disabled]="menuForm.invalid || isSubmitting"
        style="align-self: flex-start;">Ajouter</button>
</form>
